# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
# *.sln
# *.vcxproj*
*.vs*
*.pch 

.vs/
*.suo
*.user
*.userprefs
*.ncb
*.opensdf
*.sdf
*.tlog
*.log
*.tmp
*.pdb
*.obj
*.o

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
/out
x86/
ARM/
ARM64/
build/
bin/
obj/
[Tt]emp/
[Dd]ist/